/* description.module.css */
.container {
  margin: 0 auto;
  padding: 20px;
  max-width: 200vh;
  height: 92vh;
  background-image: url("/images/back.jpg"); /* Remplacez '/chemin/vers/votre/image.jpg' par le chemin de votre image */
  background-size: cover; /* Pour couvrir tout le conteneur */
  background-position: center; /* Pour centrer l'image */
  color: #fffb0b;
}

.tabsContainer {
  display: flex;
  justify-content: space-between;
}

.leftTabs {
  display: flex;
  align-items: center;
}

.rightTabs {
  display: flex;
  align-items: center;
}

.link {
  cursor: pointer;
  margin-right: 20px;
}

.button {
  margin-left: 20px;
  background-color: #e601c7;
}

.descriptionContainer {
  margin-top: 20px;
}

.description {
  font-size: 16px;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.5;
  color: rgb(255, 255, 255);
}

/* Ajoutez d'autres styles CSS selon les besoins */
