/* styles/forgetpassword.module.css */

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 15px;
}

/* label {
  font-weight: bold;
}

input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
} */

.buttons {
  display: flex;
  justify-content: space-between;
}

.resetButton {
  background-color: #fff238;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.tryAnotherWayButton {
  background-color: #0c0a0a;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}
