@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html,
body {
  --primary-color: #e33cc2;
  margin: 0;
  padding: 0;
  font-size: calc(0.6vh + 0.45vw + 5px);
  scroll-behavior: smooth;
  box-sizing: border-box;
  color: inherit;
  text-overflow: ellipsis;
  text-decoration: inherit;
  font-family: sans-serif;
}

*::selection {
  background: var(--primary-color);
  color: white;
}

.br {
  border: 1px solid rgb(200, 200, 200);
}

textarea {
  resize: none;
}

.circle-progress {
  stroke-linecap: round;
  stroke-linejoin: round;
  color: rgb(30, 200, 53);
}
