/* settings.styles.css */

.setting-item {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.setting-item h3 {
  margin-left: 10px;
}

.setting-item .ant-switch {
  margin-left: auto;
}

.setting-item .ant-button {
  margin-left: 20px;
}

